.header {
  height: 100vh;
  padding: 50px 150px;
}

@media (max-width: 940px) {
  .header {
    padding: 100px;
  }
}

@media (max-width: 1400px) {
  .header {
    height: auto;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 50px;
  }
}

.header .flex-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header img {
  padding-top: 120px;
  width: 400px;
}

@media (max-width: 1202px) {
  .header img {
    display: none;
  }
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .nav div {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #3aafa9;
}

.header main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header main section h1 {
  color: #2b7a7b;
  font-size: 100px;
  -webkit-animation: moveInLeft 2s ease-in-out;
          animation: moveInLeft 2s ease-in-out;
}

@media (max-width: 600px) {
  .header main section h1 {
    font-size: 70px;
  }
}

@media (max-width: 400px) {
  .header main section h1 {
    font-size: 50px;
    margin-bottom: 10px;
  }
}

.header main section h3 {
  margin-top: -70px;
  font-size: 26px;
  margin-bottom: 40px;
  letter-spacing: 2px;
  color: #17252a;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-animation: moveInRight 2s ease-in-out;
          animation: moveInRight 2s ease-in-out;
}

@media (max-width: 600px) {
  .header main section h3 {
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  .header main section h3 {
    margin-top: 20px;
  }
}

.header main section p {
  width: 40%;
  color: #666666;
}

@media (max-width: 1200px) {
  .header main section p {
    width: 100%;
  }
}

.header main section button {
  padding: 20px;
  border-radius: 50px;
  width: 200px;
  background-color: #17252a;
  color: #fff;
  border: 2px solid #def2f1;
  font-weight: 500;
  margin-top: 20px;
  text-transform: uppercase;
}

@media (max-width: 480px) {
  .header main section button {
    padding: 15px;
  }
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
/*# sourceMappingURL=Header.css.map */